In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('df6.csv', error_bad_lines=False)

In [5]:
#df.columns = ['a','b','c'] # Rename columns

In [ ]:
df.fillna(x) # Replace all null values with x
s.fillna(s.mean()) # Replace all null values with the mean (mean can be replaced with almost any function from the statistics module)

In [12]:
#df.fillna(df.mean()) # Replace all null values with x
df1 = df.fillna(df.mean())

In [ ]:
df.dropna() # Drop all rows that contain null values
df.dropna(axis=1) # Drop all columns that contain null values
df.dropna(axis=1,thresh=n) # Drop all rows have have less than n non null values

In [ ]:
s.replace(1,'one') # Replace all values equal to 1 with 'one'
s.replace([1,3],['one','three']) # Replace all 1 with 'one' and 3 with 'three'

In [ ]:
df.rename(columns={'old_name': 'new_ name'}) # Selective renaming
df.set_index('column_one') # Change the index

In [ ]:
df.rename(columns=lambda x: x + 1) # Mass renaming of columns
df.rename(index=lambda x: x + 1) # Mass renaming of index

In [ ]:
s.astype(float) # Convert the datatype of the series to float

In [ ]:
pd.isnull() # Checks for null Values, Returns Boolean Arrray
pd.notnull() # Opposite of pd.isnull()

# Dropping Columns and Keeping Columns

In [ ]:
#Dropping Columns

df.drop(['deposit_amount', 'kit_price','account_id', 'amount_received', 'amount_received_end', 'amount_remaining_interest_accrued_to_date', 'amount_remaining_interest_accrued_to_date_end', 'total_finance_price_remaining_end', 'amount_expected','total_finance_price_remaining','account_cancellation_reason', 'days_elapsed', 'days_elapsed_end', 'defaulted', 'customer_id', 'completed', 'gender', 'marital_status', 'district', 'daily_rate', 'occupation', 'deactivation_date', 'payment_preference', 'kit_price'], axis=1, inplace=True)


#df.drop(df.columns[0:7], axis=1, inplace=True)

#col = list(df.columns)[22:56]
#df.drop(col, axis=1, inplace=1)

In [ ]:
del_col_names = ["delinq_2yrs",  "last_pymnt_d", "chargeoff_within_12_mths","delinq_amnt","emp_title", "term", "emp_title", "pymnt_plan","purpose","title", "zip_code", "verification_status", "dti","earliest_cr_line", "initial_list_status", "out_prncp",
"pymnt_plan", "num_tl_90g_dpd_24m", "num_tl_30dpd", "num_tl_120dpd_2m", "num_accts_ever_120_pd", "delinq_amnt", 
"chargeoff_within_12_mths", "total_rec_late_fee", "out_prncp_inv", "issue_d"] #deleting some more columns
dataset = dataset.drop(labels = del_col_names, axis = 1) 
print("Current shape of dataset :",dataset.shape)

In [ ]:
df1 = df[['a','b']]

# Handle NAs

In [ ]:
df = df.loc[:, df.isnull().mean() < .80]
df = df.fillna(df.mean())

# Handle droping objects and other types

In [ ]:
#df.dtypes == object
df.loc[:, df.dtypes == object]
df_num = df.select_dtypes(include=[np.float])
df_num = df.select_dtypes(exclude=[np.number])

# Converting target variable to boolean

In [1]:
di = {"Fully Paid":0, "Charged Off":1} 
Dataset_withBoolTarget= data_with_loanstatus_sliced.replace({"loan_status": di})
Dataset_withBoolTarget.info()